<p>pipe works!</p>
<h1>My birthday is {{birthday | date : 'fullDate' | uppercase}}</h1>

<!-- <h1>{{day | uppercase}}</h1> -->

<p>{{price | currency : 'INR'}}</p>

{{day | titlecase}}


<p>pipe works!</p>

<!-- <h1>My birthday is {{birthday | date : 'fullDate' | uppercase}}</h1> -->

<!-- <h1>{{day | uppercase}}</h1> -->

<!-- <p>{{price | currency : 'INR'}}</p>

{{day | titlecase}} -->

<div class="row justify-content-center">

    <div class="col-md-8">
        <input type="text" #newProduct class="form-control form-inline" placeholder="Add product" >
        <button (click)="AddProduct(newProduct)" class="btn btn-success mt-2"> Add Product</button>
    </div>
    
    <div class="col-md-8">
        <label for="productID">Search by Product name</label>
        <input type="text" class="form-control" id="productID" placeholder="Enter product name" [(ngModel)]="namesearch">
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
               <tr>
                   <th>Sno</th>
                   <th>Name</th>
                   <th>Price</th>
                   <th>Availibility</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let product of productArr | filter:namesearch">
                   <td>{{product.sno}}</td>
                   <td>{{product.name}}</td>
                   <td>{{product.price}}</td>
                   <td>{{product.availability}}</td>
           
               </tr>
           </tbody>
           </table>
    </div>
</div>