<p>product works!</p>
<div class="row">
    <div class="col-md-8">
        <div class="card" >
            <img class="card-img-top" src="../../assets/images/photo-1618424181497-157f25b6ddd5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" appCustom>Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go Laptop</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/52684-7-led-television-download-hd-png.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-primary">Go TV</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/download (1).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mobile" class="btn btn-primary">Go Mobile</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/download.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">WashingMachine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washingmachine" class="btn btn-primary">Go WashingMachine</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>