<p>vechical works!</p>

<div class="row">
    <div class="col-md-8">
        <div class="card" >
            <img class="card-img-top" src="../../assets/images/Bike.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bike</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="bike" class="btn btn-primary">Go to Bike</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/bus.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bus</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="bus" class="btn btn-primary">Go to bus</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/Bycycle.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bycycle</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="Bycycle" class="btn btn-primary">Go Bycycle</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/Car.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Car</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="car" class="btn btn-primary">Go to car</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>