<table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img [src]="user.picture" alt="User Image" width="100" height="100"></td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.location }}</td>
      </tr>
    </tbody>
  </table>
  